* {
  font-family: Montserrat;
}

body {
  background: magenta;
  margin: 0;
}

header {
  margin: auto;
  margin-top: 50px;
  height: 55px;
  width: 500px;
  color: teal;
}

main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 100px;
}

p {
  margin-top: 400px;
  color: teal;
}

.card-image {
  height: 350px;
  width: 270px;
}

.cards-1 {
  display: flex;
  height: 350px;
  width: 285px;
  margin-left: 50px;
  margin: auto;
}

.central-pile {
  display: flex;
  height: 350px;
  width: 275px;
  margin: auto;
}

.cards-2 {
  display: flex;
  margin: auto;
  height: 350px;
  width: 275px;
}

.hidden {
  display: none;
}
