* {
  font-family: Montserrat;
}

body {
  /* background: magenta; */
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  padding-top: 200px;
}

.cards-1 {
  display: flex;
  height: 350px;
  width: 275px;
  margin-left: 50px;
  background-color: #FF6600
  border: 1px solid green;
  margin: auto;
  border: 1px solid grey;

  /* align-self: flex-start; */
  justify-content: space-evenly;

}

.central-pile {
  display: flex;
  height: 350px;
  width: 275px;
  margin-left: 50px;
  background-color: #FF6600
  border: 1px solid green;
  margin: auto;
  border: 1px solid grey;
  /* align-self: flex-start; */
  justify-content: space-evenly;

}

.cards-2 {
  display: flex;
  margin: auto;
  border: 1px solid grey;

  justify-content: space-evenly;
  height: 350px;
  width: 275px;
  margin-right: 50px;
}
